Exception "HTTP.ConnectionPool.Transaction{Sockets.TCPSocket} does not support byte I/O" on read!

Julia 0.7.0 
HTTP.jl PR #282 
MbedTLS.jl 0.6.0

For the PR #282 a test was found to throw an exception `ErrorException("HTTP.ConnectionPool.Transaction{Sockets.TCPSocket} does not support byte I/O")` when using the `read!` method on a `Transaction`. @samoconnor asked me to add a separate issue
for this, for later investigation. The test is for the `openraw` method added by PR #282.

The test script is

```
using Test
using HTTP: openraw

@testset "openraw client method" begin
     for sch in ("ws", "wss")
         println("openraw client method: $sch")

         @testset "can send and receive a WebSocket frame" begin
             # WebSockets require valid headers.
             headers = Dict(
                 "Upgrade" => "websocket",
                 "Connection" => "Upgrade",
                 "Sec-WebSocket-Key" => "dGhlIHNhbXBsZSBub25jZQ==",
                 "Sec-WebSocket-Version" => "13")

             socket, response = openraw("GET", "$sch://echo.websocket.org", headers)

             @test response.status == 101

             # This is an example text frame from RFC 6455, section 5.7. It sends the text "Hello" to the
             # echo server, and so we expect "Hello" back, in an unmasked frame.
             frame = UInt8[0x81, 0x85, 0x37, 0xfa, 0x21, 0x3d, 0x7f, 0x9f, 0x4d, 0x51, 0x58]

             write(socket, frame)

             # The frame we expect back looks like `expectedframe`.
             expectedframe = UInt8[0x81, 0x05, 0x48, 0x65, 0x6c, 0x6c, 0x6f]

             # On the other hand `read!` always waits to fill the whole vector.
             actualframe = Base.StringVector(7)
             read!(socket, actualframe)
             @test expectedframe == actualframe
             close(socket)
         end
     end
 end
```

It also requires the commits `0e3b053` and `967bd97` to be cherry-picked to the branch.

The exceptions are `ErrorException("HTTP.ConnectionPool.Transaction{Sockets.TCPSocket} does not support byte I/O")`
and `ErrorException("HTTP.ConnectionPool.Transaction{MbedTLS.SSLContext} does not support byte I/O")` for HTTP and HTTPS, respectively.

The complete output from the script above:
```
openraw client method: ws
can send and receive a WebSocket frame: Error During Test at /home/user/.julia/dev/HTTP/test/openraw_error.jl:8
  Got exception ErrorException("HTTP.ConnectionPool.Transaction{Sockets.TCPSocket} does not support byte I/O") outside of a @test
  HTTP.ConnectionPool.Transaction{Sockets.TCPSocket} does not support byte I/O
  Stacktrace:
   [1] error(::Type, ::String) at ./error.jl:42
   [2] read(::HTTP.ConnectionPool.Transaction{Sockets.TCPSocket}, ::Type{UInt8}) at ./io.jl:182
   [3] unsafe_read at ./io.jl:213 [inlined]
   [4] unsafe_read at ./io.jl:593 [inlined]
   [5] macro expansion at ./gcutils.jl:87 [inlined]
   [6] read!(::HTTP.ConnectionPool.Transaction{Sockets.TCPSocket}, ::Array{UInt8,1}) at ./io.jl:605
   [7] macro expansion at /home/user/.julia/dev/HTTP/test/openraw_error.jl:31 [inlined]
   [8] macro expansion at /buildworker/worker/package_linux64/build/usr/share/julia/stdlib/v0.7/Test/src/Test.jl:1079 [inlined]
   [9] macro expansion at /home/user/.julia/dev/HTTP/test/openraw_error.jl:10 [inlined]
   [10] macro expansion at /buildworker/worker/package_linux64/build/usr/share/julia/stdlib/v0.7/Test/src/Test.jl:1079 [inlined]
   [11] top-level scope at /home/user/.julia/dev/HTTP/test/openraw_error.jl:5
   [12] include at ./boot.jl:317 [inlined]
   [13] include_relative(::Module, ::String) at ./loading.jl:1038
   [14] include(::Module, ::String) at ./sysimg.jl:29
   [15] exec_options(::Base.JLOptions) at ./client.jl:239
   [16] _start() at ./client.jl:432
openraw client method: wss
can send and receive a WebSocket frame: Error During Test at /home/user/.julia/dev/HTTP/test/openraw_error.jl:8
  Got exception ErrorException("HTTP.ConnectionPool.Transaction{MbedTLS.SSLContext} does not support byte I/O") outside of a @test
  HTTP.ConnectionPool.Transaction{MbedTLS.SSLContext} does not support byte I/O
  Stacktrace:
   [1] error(::Type, ::String) at ./error.jl:42
   [2] read(::HTTP.ConnectionPool.Transaction{MbedTLS.SSLContext}, ::Type{UInt8}) at ./io.jl:182
   [3] unsafe_read at ./io.jl:213 [inlined]
   [4] unsafe_read at ./io.jl:593 [inlined]
   [5] macro expansion at ./gcutils.jl:87 [inlined]
   [6] read!(::HTTP.ConnectionPool.Transaction{MbedTLS.SSLContext}, ::Array{UInt8,1}) at ./io.jl:605
   [7] macro expansion at /home/user/.julia/dev/HTTP/test/openraw_error.jl:31 [inlined]
   [8] macro expansion at /buildworker/worker/package_linux64/build/usr/share/julia/stdlib/v0.7/Test/src/Test.jl:1079 [inlined]
   [9] macro expansion at /home/user/.julia/dev/HTTP/test/openraw_error.jl:10 [inlined]
   [10] macro expansion at /buildworker/worker/package_linux64/build/usr/share/julia/stdlib/v0.7/Test/src/Test.jl:1079 [inlined]
   [11] top-level scope at /home/user/.julia/dev/HTTP/test/openraw_error.jl:5
   [12] include at ./boot.jl:317 [inlined]
   [13] include_relative(::Module, ::String) at ./loading.jl:1038
   [14] include(::Module, ::String) at ./sysimg.jl:29
   [15] exec_options(::Base.JLOptions) at ./client.jl:239
   [16] _start() at ./client.jl:432
```


This doesn't seem to be an issue any more